html {
  scroll-padding-top: 100px;
}

*:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto !important;
  color: #e6e5e5 !important;
}
body {
  background-color: #20242d !important;
}

nav {
  top: 0px !important;
  background-color: #20242d;
  z-index: 1;
  transition: all 0.3s ease-in;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder !important;
  padding: 2rem 1rem;
  font-size: 20px;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s;
}

nav a:hover,
.social-links:hover {
  color: #a46bb8 !important;
  transition: all 0.1s ease-in;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  height: 70%;
  border-radius: 20%;
  object-fit: cover;
  overflow: hidden;
}

.hero-content {
  min-height: 60vh;
}

.navbar-toggler {
  border: 1px solid white;
}

.primary-color {
  color: #0a8091 !important;
}
.social-links {
  font-size: 30px;
  padding: 15px;
}

.div-header h1 {
  font-weight: bolder !important;
  border-bottom: 3px solid #0a8091;
}

.div-content {
  background-color: #2a3c53 !important;
  border-radius: 10px;
  margin-bottom: 5rem;
}
.skills {
  text-align: justify;
}

.card {
  background-color: #032e35;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.project {
  padding: 1rem;
  transition: all 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}
.logo {
  width: 100px;
  border-radius: 10px;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00aaff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
}

@media screen and (min-width: 400px) and (max-width: 900px)  {
  
  .logo {
    width: 70px;
  }
  
}
