html {
  scroll-padding-top: 100px;
}

*:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
  color: #e6e5e5 !important;
}
body {
  background-color: #20242d;
  overflow-x: hidden;
}

#demo-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  top: 0 !important;
  background-color: #20242d;
  z-index: 1;
  transition: all 0.3s ease-in;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder !important;
  padding: 2rem 1rem;
  font-size: 20px;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s;
}

nav a:hover,
.social-links:hover {
  color: #a46bb8 !important;
  transition: all 0.1s ease-in;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  height: 70%;
  border-radius: 20%;
  object-fit: cover;
  overflow: hidden;
}

.hero-content {
  min-height: 60vh;
}

.navbar-toggler {
  border: 1px solid white;
}

.primary-color {
  color: #0a8091 !important;
}
.social-links {
  font-size: 30px;
  padding: 15px;
}

.div-header h1 {
  font-weight: bolder;
  border-bottom: 3px solid #0a8091;
}

.div-content {
  background-color: #2a3c53;
  border-radius: 10px;
}
.skills {
  text-align: justify;
}

.card {
  background-color: #032e35;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.project {
  padding: 1rem;
  transition: all 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}
.logo {
  width: 70px;
  border-radius: 10px;
}

.modal-dialog,
.modal-content,
.modal-body {
  background-color: #032e35;
  border-radius: 10px;
}

.btn-close {
  background-color: white !important;
}

.screenshot-label {
  margin: 10px 0;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00aaff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
}

.footer-logo {
  width: 30px;
}

.btn:hover {
  background-color: #a46bb8;
}

.screenshot {
  width: 100%;
  display: block;
  margin: auto;
}

.screenshot-sm {

  width: 50%;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .logo {
    width: 70px;
  }
  .screenshot-sm {
    width: 100%;
  }
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  padding: 10px; 
  border-radius: 5px; 
}

.carousel-control-prev {
  left: -5%; 
}

.carousel-control-next {
  right: -5%; 
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d3d3d3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d3d3d3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
